@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
  width: 73px;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.primeira_tela{
  /* background-color: rgba(0, 255, 255, 0.358); */

  background-image: url(../assets/praia-wallpaper.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* background-image: url(/assets/desenho-praia.jpg); */
}

.header {
  /* border-bottom: 2px solid #32b9cd; */
  background-color: transparent;
  /* border: 2px black solid; */
  height: 13%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: transparent;
}

.header a {
  color: white;
  font-size: 18px;
  background-color: transparent;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  margin-right: 45px;
}

.navbar a{
  text-decoration: none;
}

.logo_titulo{
  display: flex;
  width: auto;
  align-items: center;
  margin-left: 20px;
}

.titulo {
  color: #e3b062;
  /* width: fit-content; */
  font-weight: 900;
  font-size: 40px;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: 80%;
  color: #eaa846;
  background-size: cover;
}

.banner .container {
  justify-content: start;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin-left: 45px;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
}

.banner .container span {
  font-weight: 800;
}


/* LOGIN */

.geral{
  background-color: transparent;
}

 .login {
  background-size: cover;
  display: flex;
  height: 80%;
  align-items: center;
}

.login .container {
  justify-content: center;
  
}

.card {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.756);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(222, 197, 36);
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.formulario a{
  color: rgb(222, 197, 36);
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: rgba(128, 128, 128, 0);
  height: 36px;
  
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: rgb(222, 197, 36);
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* Formulário */
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: rgb(222, 197, 36) 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(222, 197, 36);
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}